.logo{
  color: white;
  fill: white;

}

.lighterBackground{
  background-color: #2E2E2E;
}

.footerBackground{
  background-color: #323232;
}

.darkerBackground{
  background-color: #1F1F1F;
}

.sideMenuBackground{
  background-color: #252526;
  border-right: 1px solid #777777;
  /* height: 100vh;
  position: fixed */
}

#root{
  margin: 0;
  overflow-y: auto;
      height: 100vh;
}

.redFont{
  color: #D75060;
}

.greyFont{
  color: #A5A5A5;
}